*{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}
/*Desktop*/
@media only screen and (max-width: 1366px){
	body{
		overflow: hidden;
	}
	.main_conteiner{
		position: absolute;
		top: 0;
		width:  100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		animation-name: surgir;
		animation-duration: 1s;
	}
	@keyframes surgir{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		} 
	}
	/*Menu*/
	.main_menu{
		width: 100%;
		height: 110px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items:baseline;
		align-content: center;
		justify-content: space-between;
		flex-basis: auto;
		visibility: visible;
	}
	.caixa{
		width: 240px;
		height: 70px;
	}
	.menu_logo{
		width: 240px;
		height: 70px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.menu_logo img{
		max-width: 100%;
	}
	.menu{
		width: 50%;
		height: 50px;
		z-index: 10;
	}
	.menu ul{
		list-style: none;
		position: relative;
		text-align: center;
	}
	.menu ul li{
		width: 125px;
		float: left;
	}
	.menu ul li a{
		text-align: center;
		font-size: 20px;
		padding: 15px;
		display: block;
		text-decoration: none;
		color:black;
	}
	ul:hover li a{
		transform: scale(0.8);
		opacity: 0.5;
		filter: blur(3px);
		color: black;
	}
	.menu ul li a:hover{
		color: white;
		transform: scale(0.9);
		opacity: 1;
		filter: blur(0);
		border-radius: 3px;
	}
	.menu ul li a:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.5s;
		transform-origin: right;
		transform: scaleX(0);
		z-index: -1;
		border-radius: 3px;
		background-color: #00BFFF;
	}
	.menu ul li a:hover:before{
		transition:transform 0.5s;
		transform-origin: left;
		transform: scaleX(1);
	}

	/*Sobre*/
	.caixa_2{
		width: 100%;
		height: 40px;
	}
	.caixa_3{
		width: 100%;
		height: 30px;
	}
	.main_sobre{
		width: 60%;
		height: 360px;
		align-self:center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
	.sobre_foto{
		width: 25%;
		height: 210px;
		box-shadow: 5px 5px 25px #B5B5B5;
		border-radius: 100%;
	}
	.sobre_texto{
		width: 60%;
		height: 210px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
	.sobre_texto h1{
		align-self: flex-start;
	}
	.sobre_social{
		width: 45%;
		height: 45px;
		align-self: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items:  center;
		align-content: flex-start;
	}
	.insta{
		max-width: 40%;
		-webkit-filter:grayscale(100%);
	}
	.face{
		max-width: 40%;
		-webkit-filter:grayscale(100%);
	}
	.gmail{
		max-width: 40%;
		-webkit-filter:grayscale(100%);
	}
	.insta:hover{
		-webkit-filter:grayscale(0%);
	}
	.face:hover{
		-webkit-filter:grayscale(0%);
	}
	.gmail:hover{
		-webkit-filter:grayscale(0%);
	}
	/*Fotografias*/
	.main_img{
		width: 95%;
		height:500px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: baseline;
		align-content: flex-start;
		justify-content: space-around;
		align-self: auto;
		overflow: auto;
	}
	.main_img img{
		border: solid 5px white;
		border-top: none;
		max-width: 30%;
	}
	/*Dicas*/
	.main_dicas{
		width: 95%;
		height:500px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content:center;
		overflow: auto;
	}
	.main_d{
		width: 60%;
		height: 250px;
		flex-shrink: 10;
		border:solid 8px white;
		border-top: none;
		display: flex;
		flex-direction: row;
		align-items:center; 
		align-content: center;
		justify-content: space-around;
	}
	.paragrafo_1{
		padding: 10px;
		text-indent: 15px;
		line-height: 25px;
		text-align: justify;
		font-size: 24px;
	}
	.dicas_img{
		width: 25%;
		height: 190px;
	}
	.dicas_img img{
		max-width: 90%;
	}
	.dicas_texto{
		width: 70%;
		height: 190px;
	}
	.dicas_texto h1{
		padding: 15px;
	}
	.dicas_texto p{
		padding: 8px;
		text-indent: 15px;
		line-height: 25px;
		text-align: justify;
		font-size: 16px;
	}
	.dicas_link{
		width: 45%;
		height: 50px;
	}
	.dicas_link img{
		max-width: 10%;
		padding: 10px;
		-webkit-filter:grayscale(100%);
	}
	.dicas_link img:hover{
		-webkit-filter:grayscale(0%);
	}
	/*Scrollbar*/
	::-webkit-scrollbar-track {
    	background-color: #F4F4F4;
	}
	::-webkit-scrollbar {
    	width: 6px;
    	background: #F4F4F4;
	}
	::-webkit-scrollbar-thumb {
    	background: #00BFFF;
    	border-radius: 25px;
	}
	/*Contato*/
	.main_contato{
		width: 80%;
		height: 400px;
		font-size: 25px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
	}
	.main_title{
		width: 100%;
		height: 65px;
		text-align: center;
	}
	.contato{
		width: 80%;
		height: 200px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: baseline;
		font-size: 25px;
		justify-content: center;
		align-content:space-around;
	}
	.contato h2{
		font-size: 25px;
		text-decoration: none;
		font-style: none;
	}
	.contato a{;
		color: black;
		text-decoration: none;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.contato a:hover{
		color: #00BFFF;
	}
	.siga{
		width: 70%;
		height: 60px;	
		text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: center;
		align-content:stretch;
	}
	.siga img{
		order: 2;
	}
	.siga h1{
		font-size: 26px;
		order: 1;
	}
	.siga a{
		text-decoration: none;
		color: black;
	}
	.siga a:hover{
		color: #00BFFF;
	}
	.contato h2:after{
		content: url(../IMG/link.png);
	}
	.main_contato_mobile{
		visibility: hidden;
	}
	/*Menu Responcivo-Enable*/
	#btn_menu_label{
		visibility: hidden;
	}
	.title{
		visibility: hidden;
	}
	.content_menu{
		visibility: hidden;
	}
	.content_menu_item{
		visibility: hidden;
	}
	.content_menu_item_icon{
		visibility: hidden;
	}
	.content_menu_item_title{
		visibility: hidden;
	}
	.content_topbar{
		visibility: hidden;
	}
	.content_topbar_title{
		visibility: hidden;
	}
	#btn_menu_checkbox{
		visibility: hidden;
	}
	.menu_logo_r{
		visibility: hidden;
	}
}
/*Smarphone*/
@media all and (min-width: 10px) and (max-width: 767px) and (orientation: portrait){
	body{
		background-color: #333;
		overflow: hidden;
	}
	#main_conteiner{
		position: absolute;
		top: 52px;
		width: 100%;
		height: calc(100% - 52px);
		border-radius: 24px 24px 0 0; 
		background-color: #ffffff;
		transition: 200ms linear;
		z-index: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;
		align-content: flex-start;
	}
	.main_menu{
		visibility: hidden;
	}
	.menu_logo{
		visibility: hidden;
	}
	.menu{
		visibility: hidden;
	}
	/*Sobre*/
	.main_sobre{
		position: absolute;
		top: 55px;
		width: 100%;
		height: 525px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;
	}
	.caixa_2{
		width: 100%;
		height: 10px;
		visibility: hidden;
	}
	.sobre_foto{
		width: 135px;
		height: 135px;
		box-shadow: 5px 5px 25px #B5B5B5;
		border-radius: 100%;
	}
	.sobre_texto{
		width: 100%;
		height: 450px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
	}
	.sobre_texto h1{
		font-size: 21px;
		align-self: center;
	}
	.sobre_texto p{
		width: 75%;
		height: 200px;
		font-size: 20px;
		text-align: justify;
	}
	.sobre_social{
		position: absolute;
		top: 87%;
		left: 12%;
		width: 45%;
		height: 45px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items:  center;
		align-content: flex-start;
		align-self: center;
	}
	.insta{
		max-width: 50%;
		-webkit-filter:grayscale(0%);
	}
	.face{
		max-width: 50%;
		-webkit-filter:grayscale(0%);
	}
	.gmail{
		max-width: 50%;
		-webkit-filter:grayscale(0%);
	}
	/*Fotografias*/
	.main_img{
		width: 95%;
		height: 600px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		align-content: center;
		justify-content:flex-start;
		align-self: auto;
		overflow: scroll;
		position: absolute;
		top: 15%;
	}
	.main_img img{
		max-width: 98%;
		border: solid 4px white;
		border-top: none;
	}
	/*Menu Responsivo*/
	#btn_menu_checkbox{
		position: absolute;
		left: -100%;
		margin-left: -10%;
		visibility: hidden;
	}
	#btn_menu_label{
		position: absolute;
		width: 24px;
		height: 24px;
		margin-left: 16px;
		margin-top: 16px;
		color: #ffffff;
		visibility: visible;
	}
	.menu_logo_r{
		width: 150px;
		height: 50px;
		position: absolute;
		top: 0.5%;
		left: 32%;
		visibility: visible;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-items: center;
		justify-content: center;
	}
	.menu_logo_r img{
		max-width:100%;
	}
	.title{
		position: absolute;
		margin-left: 56px;
		margin-top: 18px;
		font-size: 18px;
		font-weight: 400;
		color: #ffffff;
		visibility: visible;
	}
	.content_menu{
		position: absolute;
		top: 56px;
		width: 100%;
		height: 280px;
		visibility: visible;
	}
	.content_menu_item{
		position: relative;
		width: 100%;
		height: 56px;
		display: flex;
		align-items: center;
		text-decoration: none;
		visibility: visible;
	}
	.content_menu_item_icon{
		margin-left: 16px;
		color: #ffffff;
		visibility: visible;
	}
	.content_menu_item_title{
		margin-left: 16px;
		font-size: 18px;
		font-weight: 400;
		color: #ffffff;
		visibility: visible;
	}
	.content_topbar{
		position: absolute;
		width: calc(100% - 36px);
		height: 50px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #333;
		visibility: visible;
	}
	.content_topbar_title{
		font-size: 18px;
		color: #333;
		position: absolute;
		left: 5%;
		visibility: visible;
	}
	#btn_menu_checkbox:checked ~ #main_conteiner{
		top: 336px;
	}	
	/*Dicas*/
	.main_dicas{
		position: absolute;
		top: 55px;
		width: 95%;
		height:500px;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
	}
	.main_d{
		width: 90%;
		height: 475px;
		display: flex;
		flex-direction: column;
		align-items:center; 
		align-content: center;
		justify-content: flex-start;
		border:none;
	}
	.dicas_img{
		width: 35%;
		height: 110px;
	}
	.dicas_img img{
		max-width: 90%;
	}
	.dicas_texto{
		width: 100%;
		height: 190px;
	}
	.dicas_texto h1{
		padding: 15px;
		text-align: center;
	}
	.dicas_texto p{
		padding: 8px;
		text-indent: 15px;
		line-height: 25px;
		text-align: justify;
		font-size: 18px;
	}
	.dicas_link{
		width: 100%;
		height: 50px;
	}
	.dicas_link img{
		max-width: 10%;
		padding: 10px;
		-webkit-filter:grayscale(0%);
	}
	/*Contato*/
	.main_contato{
		visibility: hidden;
		order: 4;
	}
	.main_contato_mobile{
		width: 100%;
		height: 400px;
		font-size: 24px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-items: flex-start;
		visibility: visible;
		order: 1;
	}
	.main_title{
		width: 100%;
		height: 65px;
		text-align: center;
		visibility: hidden;
		display: block;
		order: 4;
	}
	.contato{
		width: 40%;
		height: 200px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: baseline;
		font-size: 15px;
		justify-content: center;
		align-content:space-around;
		order: 1;
	}
	.contato h2{
		font-size: 20px;
		text-decoration: none;
		font-style: none;
		text-align: center;
	}
	.contato a{
		color: black;
		text-decoration: none;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.siga{
		width: 70%;
		height: 60px;	
		text-align: center;
		order: 3;
	}
	.siga h1{
		font-size: 27px;
	}
	.siga a{
		text-decoration: none;
		color: #00BFFF;
	}
}
/*Tablets Retrato*/
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	body{
		background-color: #333;
		overflow: hidden;
	}
	#main_conteiner{
		position: absolute;
		top: 68px;
		width: 100%;
		height: calc(100% - 52px);
		border-radius: 24px 24px 0 0; 
		background-color: #ffffff;
		transition: 200ms linear;
		z-index: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;
		align-content: flex-start;
	}
	.main_menu{
		visibility: hidden;
	}
	.menu_logo{
		visibility: hidden;
	}
	.menu{
		visibility: hidden;
	}
	/*Sobre*/
	.main_sobre{
		position: absolute;
		top: 60px;
		width: 75%;
		height: 1000px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-around;
	}
	.caixa_2{
		width: 100%;
		height: 10px;
		visibility: hidden;
	}
	.sobre_foto{
		width: 250px;
		height: 250px;
		box-shadow: 5px 5px 25px #B5B5B5;
		border-radius: 100%;
	}
	.sobre_texto{
		width: 100%;
		height: 650px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
	}
	.sobre_texto h1{
		font-size: 33px;
		align-self: center;
	}
	.sobre_texto p{
		width: 100%;
		height: 250px;
		font-size: 30px;
		text-align: justify;
	}
	.sobre_social{
		position: absolute;
		top: 75%;
		left: 1%;
		width: 45%;
		height: 45px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items:  center;
		align-content: center;
	}
	.insta{
		max-width: 40%;
		-webkit-filter:grayscale(0%);
	}
	.face{
		max-width: 40%;
		-webkit-filter:grayscale(0%);
	}
	.gmail{
		max-width: 40%;
		-webkit-filter:grayscale(0%);
	}
	/*Fotografias*/
	.main_img{
		width: 100%;
		height: 1050px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		align-content: center;
		justify-content:flex-start;
		align-self: auto;
		overflow: scroll;
		position: absolute;
		top: 15%;
	}
	.main_img img{
		max-width: 98%;
		border: solid 4px white;
		border-top: none;
	}
	/*Menu Responsivo*/
	#btn_menu_checkbox{
		position: absolute;
		left: -100%;
		margin-left: -10%;
		visibility: hidden;
	}
	#btn_menu_label{
		position: absolute;
		width: 24px;
		height: 24px;
		margin-left: 16px;
		margin-top: 16px;
		color: #ffffff;
		visibility: visible;
	}
	.menu_logo_r{
		width: 250px;
		height: 50px;
		position: absolute;
		top: 0.5%;
		left:38%;
		visibility: visible;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-items: center;
		justify-content: center;
	}
	.menu_logo_r img{
		max-width:95%;
	}
	.title{
		position: absolute;
		margin-left: 56px;
		margin-top: 18px;
		font-size: 18px;
		font-weight: 400;
		color: #ffffff;
		visibility: visible;
	}
	.content_menu{
		position: absolute;
		top: 56px;
		width: 100%;
		height: 280px;
		visibility: visible;
	}
	.content_menu_item{
		position: relative;
		width: 100%;
		height: 56px;
		display: flex;
		align-items: center;
		text-decoration: none;
		visibility: visible;
	}
	.content_menu_item_icon{
		margin-left: 16px;
		color: #ffffff;
		visibility: visible;
	}
	.content_menu_item_title{
		margin-left: 16px;
		font-size: 18px;
		font-weight: 400;
		color: #ffffff;
		visibility: visible;
	}
	.content_topbar{
		position: absolute;
		width: calc(100% - 36px);
		height: 50px;
		display: flex;
		align-items: center;
		border-bottom: 1.5px solid #333;
		visibility: visible;
	}
	.content_topbar_title{
		font-size: 28px;
		color: #333;
		position: absolute;
		left: 5%;
		visibility: visible;
	}
	#btn_menu_checkbox:checked ~ #main_conteiner{
		top: 336px;
	}	
	/*Dicas*/
	.main_dicas{
		position: absolute;
		top: 55px;
		width: 95%;
		height:1050px;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
	}
	.main_d{
		width: 90%;
		height: 600px;
		display: flex;
		flex-direction: column;
		align-items:center; 
		align-content: center;
		justify-content: flex-start;
		border:none;
	}
	.dicas_img{
		width: 20%;
		height: 200px;
	}
	.dicas_img img{
		max-width: 100%;
	}
	.dicas_texto{
		width: 100%;
		height: 200px;
	}
	.dicas_texto h1{
		padding: 15px;
		text-align: center;
	}
	.dicas_texto p{
		padding: 8px;
		text-indent: 15px;
		line-height: 38px;
		text-align: justify;
		font-size: 32px;
	}
	.dicas_link{
		width: 100%;
		height: 50px;
	}
	.dicas_link img{
		max-width: 6.5%;
		padding: 10px;
		-webkit-filter:grayscale(0%);
	}
	/*Contato*/
	.main_contato{
		visibility: hidden;
		order: 4;
	}
	.main_contato_mobile{
		width: 100%;
		height: 600px;
		font-size: 35px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-items: flex-start;
		visibility: visible;
		order: 1;
	}
	.main_title{
		width: 100%;
		height: 65px;
		text-align: center;
		visibility: hidden;
		display: block;
		order: 4;
	}
	.contato{
		width: 100%;
		height: 300px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: baseline;
		font-size: 15px;
		justify-content: center;
		align-content:space-around;
		order: 1;
	}
	.contato h2{
		font-size: 40px;
		text-decoration: none;
		font-style: none;
		text-align: center;
	}
	.contato a{
		color: black;
		text-decoration: none;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.siga{
		width: 70%;
		height: 60px;	
		text-align: center;
		order: 3;
	}
	.siga h1{
		font-size: 48px;
	}
	.siga a{
		text-decoration: none;
		color: #00BFFF;
	}
}
